<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebTrackingSystem</display-name>
    <servlet>
    <servlet-name>SaveStudentRegistration</servlet-name>
    <servlet-class>tracksystem.SaveStudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveStudentRegistration</servlet-name>
    <url-pattern>/SaveStudentRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveProfessorRegistration</servlet-name>
    <servlet-class>tracksystem.SaveProfessorRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProfessorRegistration</servlet-name>
    <url-pattern>/SaveProfessorRegistration</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>addColony</servlet-name>
    <servlet-class>tracksystem.AddColony</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addColony</servlet-name>
    <url-pattern>/AddColony</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>addRack</servlet-name>
    <servlet-class>tracksystem.AddRack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRack</servlet-name>
    <url-pattern>/AddRack</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addCage</servlet-name>
    <servlet-class>tracksystem.AddCage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCage</servlet-name>
    <url-pattern>/AddCage</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>addExperiment</servlet-name>
    <servlet-class>tracksystem.AddExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addExperiment</servlet-name>
    <url-pattern>/AddExperiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>LoginServlet</servlet-name>
    <servlet-class>tracksystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>  
  
    <servlet>
     <servlet-name>professorHome</servlet-name>
    <servlet-class>tracksystem.ProfessorHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>professorHome</servlet-name>
    <url-pattern>/professorHome</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>updateStudent</servlet-name>
    <servlet-class>tracksystem.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>  
  
	<servlet>
     <servlet-name>studentHome</servlet-name>
    <servlet-class>tracksystem.StudentHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentHome</servlet-name>
    <url-pattern>/studentHome</url-pattern>
  </servlet-mapping>
	
	<servlet>
     <servlet-name>addMice</servlet-name>
    <servlet-class>tracksystem.SaveMiceForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMice</servlet-name>
    <url-pattern>/AddMice</url-pattern>
  </servlet-mapping>
	
	<servlet>
     <servlet-name>addReminder</servlet-name>
    <servlet-class>tracksystem.addReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addReminder</servlet-name>
    <url-pattern>/AddReminder</url-pattern>
  </servlet-mapping>
	
	<servlet>
     <servlet-name>updateProfessor</servlet-name>
    <servlet-class>tracksystem.UpdateProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfessor</servlet-name>
    <url-pattern>/UpdateProfessor</url-pattern>
  </servlet-mapping>

	
	
</web-app>